<% if (title) { %>
  <h1><%= title %></h1>
  <%- messages() %>

  <% if (error) { %>
    <ul class="notice">
      <% error.array().forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

<% } else { %>
  <p>Page data is not available.</p>
<% } %>
