<!--footer partials containing footer content and information-->

<!--javascript function for the footer data and year-->
<% const date = new Date() 
    const year = date.getFullYear() %>


<footer id="footer">
    <p class="copyright">
        &copy; <%= year %>, CSE 340 App
    </p>
</footer>