<!--header partial for the website. This contains all the header information to be used in the application-->
<header id="top-header">
    <span class="sitename">
        <a href="/" title="Return to Homepage"> CSE Motors</a>
    </span>
    <div class="tools">
        <a title="Click to login" href="/account/login">My Account</a>
    </div>
</header>