@media only screen and (min-width: 700px){
  body{
    background: url(../images/site/small_check.jpg) no-repeat center center fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  body button{
    background-color: lightblue;
    width: 10rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
  }
  
  body a{
    text-decoration: none;
    color: black;
  }
  
  .container{
    width: 100%;
    max-width: 50rem;
    border: 6px solid lightblue;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
  }
  
  #top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #navigations {
    display: flex;
    background-color: black;
    width: 100%;
  }

  #navigations ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #navigations ul li{
    list-style: none;
    padding: 1rem auto;
  }

  #navigations ul li a{
    color: white;
    font-weight: bold;
  }

  
  .herowelcome{
    height: 27rem;
    background:url(../images/vehicles/delorean.jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  .herotext{
    padding: 1rem;
  }
  
  .heroreview{
    position: absolute;
    top: 35%;
    left: 20%;
    background-color: white;
    opacity: .9;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .upgradesandreviews{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-self: start;
  }
  
  .upgrades{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1rem;
  }
  
  .upgrades>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  
  .upgrades ul>li{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 8rem;
    height: 8rem;
  }
  
  
  .reviews{
    width: 25rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  
  
  
  
}